{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <hr>

    <h2>{{ name }}</h2>

    <hr>

    <div class="description">
        {{ description }}
    </div>

    <hr>

    <div class="item">
        {% for part in item %}
            {{ part }}<br>
        {% endfor %}
    </div>

{% endblock %}